@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/muller-light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/muller-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/muller-bold-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/muller-extrabold-webfont.ttf") format("truetype"); }
html, body, input, select, textarea {
  font-family: "Muller"; }

body {
  font-weight: 400;
  font-size: 1.6rem;
  color: $color-dark-gray-1;
}

.card{
  &__title {
    font-family: "Muller";
    color: $color-primary;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__address {
    color: $color-primary;
    font-size: 1.9rem;
    display: block;
    margin-bottom: 2rem;
  }

  &__bottom {
    color: $color-white;
  }
}

.form {
  &__name {
    color: $color-black;
    font-weight: bold;
    display: block;
    margin-bottom: .7rem;
  }

  .label {
    color: $color-dark-gray-1;
    font-size: 1.4rem;
    margin-bottom: 6px;
  }
}

.button {
  font: inherit;
  &--cta {
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: bold;
  }
}

.header-main {
  color: $color-white;

  &__top {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5px;
    margin-left: 3.4rem;
    margin-bottom: -2.2rem;
  }

  &__bottom {
    font-size: 10.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }
}