// Mobile first approach
@mixin respond($breakpoint) {
  
  @if $breakpoint == phoneS {
    @media (max-width: 20em) { @content };       //320px
  }

  @if $breakpoint == phone {
    @media (max-width: 23.5em) { @content };      //375px
  }

  @if $breakpoint == phoneL {
    @media (max-width: 26.6em) { @content };      //425px
  }

  @if $breakpoint == tablet {
    @media (max-width: 48em) { @content };      //800px
  }

  @if $breakpoint == laptop {
    @media (max-width: 90em) { @content };        //1440px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 125em) { @content };    //2000px
  }
}

@mixin shadow { box-shadow: 0 0 .7rem rgba(0,0,0, .6); }

@mixin shadowSpreaded { box-shadow: 0 0 .7rem 2px rgba(0,0,0, .6); }

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}