.form {
  width: 100%;
  &__name {
    color: $color-black;
    font-weight: bold;
  }

  &__cell {
    display: flex;

    &--arrival {
      margin-bottom: -.8rem;
    }

    &--departure {
      margin-bottom: 9px;
    }
  }

  &__single {
    display: flex;
    flex-flow: column;
  }

  @include respond(phone-l) {
    &__cell {
      width: 100%;
    }

    &__single {
      &--input {
        width: 70%;
      }

      &--select {
        width: 30%;
      }
    }
  }
}