.input{
  width: 24.5rem;
  height: 5.2rem;
  margin-bottom: 3rem;
  margin-right: 2.3rem;
  font: inherit;
  font-size: 2rem;
  padding: 0 .7rem;
  border: 1px solid $color-dark-gray-2
}

.select {
  width: 13.1rem;
  height: 5.2rem;
  font: inherit;
  font-size: 2rem;
  padding: 0 .7rem;
  background: $color-white;
  border: 1px solid $color-dark-gray-2
}

@include respond(tablet) {
  .input {
    width: 32.1rem;
  }
}

@include respond(phone-l) {
  .input {
    width: 90%;
  }

  .select {
    width: 100%;
  }
}