.input{
  width: 245px;
  height: 52px;
  margin-bottom: 30px;
  margin-right: 23px;
  font: inherit;
  font-size: 20px;
  padding: 0 7px;
}

.select {
  width: 131px;
  height: 52px;
  font: inherit;
}