.introduction {
  width: 100%;
  height: 84rem;
  padding: 0 1rem;

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;

  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.55)),
    url("./img/introduction_background-1.png"),
    url("./img/introduction_background-2.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: 0px, 10.2rem;

  &__left {
    width: 50%;
    padding-left: 12.6rem;

    display: flex;
    justify-content: flex-start;
    order: 1;
  }

  &__right {
    width: 50%;
    height: 100%;
    padding-bottom: 12.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    order: 2;
  }

  &__header-box {
    // margin-left: 9rem;
  }
  @include respond(laptop) {
    &__header-box {
      margin-left: 4rem;
    }
  }

  @include respond(tablet-big) {
    &__left {
      justify-content: center;
      padding-left: 4rem;
    }

    &__right {
      padding-bottom: 28.7rem;
      justify-content: center;
      align-items: flex-end;
    }
  }

  @include respond(tablet) {
    &__right {
      width: 100%;
      height: unset;
      order: 1;
      padding: 0;
      justify-content: center;
    }

    &__left {
      width: 100%;
      order: 2;
      padding: 0;
    }

    &__header-box {
      margin-right: 19rem;
    }
  }

  @include respond(phone-l) {
    &__left {
      width: 100%;
      height: unset;
      padding: unset;
      justify-content: center;
      order: 2;
    }

    &__right {
      width: 100%;
      padding: unset;
      height: unset;
      order: 1;
    }

    &__header-box {
      margin-top: 13rem;
      margin-left: 0;

      margin-right: auto;
    }
  }

  @include respond(phone-s) {
    &__header-box {
      margin-top: 8rem;
    }
  }
}

@include respond(laptop) {
  .introduction {
    background-size: cover;
    background-position-x: 0px, 2rem;
  }
}

@include respond(tablet) {
  .introduction {
    background-image: linear-gradient(
        to right,
        transparent,
        rgba(0, 0, 0, 0.45)
      ),
      url("./img/introduction_background-2.1.png");
    background-size: cover, cover;
    background-position-x: 0;
  }
}

@include respond(phone-l) {
  .introduction {
    flex-flow: column;
    justify-content: space-between;
  }
}

@include respond(phone) {
  .introduction {
    height: 100vh;
    max-height: 650px;
  }
}
